body {
    /* ... */
}

header {
    /* ... */
}

.card {
    /* ... */
}

.current-weather {
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-weather img {
    width: 200px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
}