body {
    /* ... */
}

header {
    /* ... */
}

.card {
    /* ... */
}

.current-weather {
    display: flex;
    justify-content: center;
    align-items: center;
}
.current-weather img {
    width: 800px;
    height: auto;
    margin-top: 200px; /* Adiciona um espaço de 20 pixels acima da imagem */
}
header {
    background-color: #333; /* Cor de fundo da barra */
    color: #fff; /* Cor da fonte */
    text-align: center;
    padding: 20px;
}