body {
    /* ... */
}

header {
    /* ... */
}

.card {
    /* ... */
}

.current-weather {
    display: flex;
    justify-content: center;
    align-items: center;
}
.current-weather img {
    width: 800px;
    height: auto;
    margin-top: 200px; /* Adiciona um espaço de 20 pixels acima da imagem */
}
header {
    background-color: #333; /* Cor de fundo da barra */
    color: #fff; /* Cor da fonte */
    text-align: center;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    /* ... */
}

/* Resto do seu CSS */


body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    text-align: center;
    padding: 20px;
}

.previsao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.detalhes {
    text-align: left;
    margin-left: 20px;
}

/* Estilize o gráfico e a previsão para os próximos dias */
.grafico {
    /* ... */
}

.previsao-dias {
    /* ... */
}